body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav {
    background-color: #F90000;
    color: #FAEB00;
    text-align: center;
    padding: 50px 0;
}

nav ul, footer ul {
    list-style-type: none;
    padding: 0;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a, footer ul li a {
    color: #F7EA20;
    text-decoration: none;
}

main {
    padding: 50px;
}

section {
    margin-bottom: 50px;
    text-align: center;
}

/* Logo styling */
#logo {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 700px;
    align-item: center;
    flex-wrap: wrap;
    
    
}

.profile-pic {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 700px;
    border-radius: 50%;
    flex-wrap: wrap;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
    #logo, .logo {
        width: auto;
        height: auto;
        flex-wrap: wrap;
    }
    
    .profile-pic {
        max-width: 100%;
        height: auto;
    }
}

hr {
    height: 3px;
    background-color: black;
    border-color: black;
}

hr1 {
    background: #F90000;
    margin: auto;
    padding: auto;
}
